.post {
    border: solid;
    border-color: #EEEEEE;
    padding: 10px;
}

.username {
    color: black;
    font-weight: bold;
}

.body {
    font-size: 17px;
    color: black;
    padding: 10px;
}

.img img {
    width: 500px;
    padding: 10px;
    border-radius: 25px;
}
.px-2 {
    background-color: #EEEEEE;
    border: solid;
    border-color: #EEEEEE;
    color: #666666;
    border-radius: 2rem;
}

.d-flex {
    padding-left: 10px;    
}

button {
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-right: 50px;
}

.active {
    color: red;
}
