/*body {*/
/*    text-align: center;*/
/*}*/

/*.comic {*/
/*    list-style-type: none;*/
/*    display: flex;*/
/*}*/

/*p,h3 {*/
    border: solid 1px;          /* 枠線指定 */
/*}*/
 
/*table {*/
    border-collapse:  collapse; /* セルの線を重ねる */
    width:  100%;               /* 幅指定 */
    table-layout: fixed;        /* セルの幅計算指定 */
/*}*/